@font-face {
	font-family: "one-piece-font";
	src: url("../fonts/one-piece-font.ttf") format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'IBM Plex Serif', serif;*/
	font-family: "one-piece-font", sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*full width: gets rid of horizontal scroll bar. Deletes the predefined padding of container fluid class*/
.full-width { 
	padding-left: 0; 
	padding-right: 0; 
}

.full-width .row { 
	margin-right: 0; 
	margin-left: 0; 
}

.full-width .col-md-12, 
.full-width .col-12 { 
	padding-left: 0; 
	padding-right: 0; 
}

.full-width .col-md-11, 
.full-width .col-11 { 
	padding-left: 0; 
	padding-right: 0; 
}
div > .btn-secondary {
	font-size: 1.3rem;
}

#bg {
	background-image: url("../images/gear4-2.jpg");
	background-attachment: fixed;
	background-position: 90% 60%;
	background-repeat: no-repeat;
	background-size: cover;
}

#bg2 {
	background-image: url("../images/gear4-2.jpg");
	background-attachment: fixed;
	background-position: 90% 60%;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact {
	color: white;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.form-control {
	font-size: 1.3rem;
}

.my-form {
	background-color: #313639;
	opacity: .7;
	border-radius: 30px;
	color: #f2f2f2;
	margin-right: 10px;
	margin-left: 10px;
}

.my-map {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.form .btn {
	font-size: 1.4rem;
}

label {
	font-size: 1.7rem;
}

.form .btn {
	margin-bottom: 15px;
}
.form .btn:hover {
	margin-bottom: 15px;
}



#my-nav {
	padding-right: 15px; 
	padding-left: 15px;
	font-size: 20px;
	background-color: #e8e4c9;
}



.mobile {
	display:none;
}

.icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
}

.icon-link {
	color: inherit;
	text-decoration: inherit;
}

.icon-link:hover {
	color: #0000EE;
	text-decoration: none;
}

#footer {
	background-color: #e8e4c9;

}

.about-hide {
	display: none;
}

.about-show {
	display: visible;

}

.about-show img{
	height: inherit;
	width: inherit;
}




@media only screen and (min-width: 992px) {
  .nav-link {
  	font-size: 23px;
  }
  .dropdown-item {
  	font-size: 20px;
  }
  .navbar-brand {
  	font-size: 28px;
  }
} 

/*for tablet, ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
	.hover-img {
		display: none;
	}
	.tablet{
		display: block;
	}
	.tablet img {
		max-width: 100%;
	}

	.nav-link {
	  	font-size: 20px;
	}

	h1 {
		font-size: 40px;
		
	}

	h1 ~ p {
		font-size: 20px;
	}
	.meet-the-team h1 {
		font-weight: bolder;
		font-size: 6em;
		color: white; 
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}

	.vision-text {
		background-color: #313639;
		opacity: .7;
		border-radius: 30px;
	}

	.vision h2{
		font-weight: bolder;
		color: #f2f2f2;
		font-size: 2em;
	}

	.vision p{
		color: #f2f2f2;
		font-size: 1em;
	}

	#bg {
		background-image: url("../images/gear4-2.jpg");
		background-attachment: fixed;
		background-position: 70% 0%;
		background-repeat: no-repeat;
		background-size: cover;
	}

}

/*for mobile*/
@media (min-width: 320px) and (max-width: 480px) {
	.mobile {
		display: block;
	}

	.mobile img {
		max-width: 100%;

	}
	.desktop {
		display:none;
	}

	.nav-link {
	  	font-size: 15px;
	}

	.hover-img {
		display: none;
	}

	h1 {
		font-size: 3rem;
		
	}

	h1 ~ p {
		font-size: 15px;
		
	}
	.icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 10px;
	}

	.meet-the-team h1 {
		font-weight: bolder;
		font-size: 6em;
		color: white; 
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}


	.mission h2{
		font-weight: bolder;
		color: #f2f2f2;
		font-size: 2em;
	}

	.mission p{
		color: #f2f2f2;
		font-size: 1em;
	}

	.vision-text {
		background-color: #313639;
		opacity: .7;
		border-radius: 30px;
	}

	.vision h2{
		font-weight: bolder;
		color: #f2f2f2;
		font-size: 2em;
	}

	.vision p{
		color: #f2f2f2;
		font-size: 1em;
	}
	#bg {
		background-image: url("../images/gear4-2.jpg");
		background-attachment: fixed;
		background-position: 50% 0%;
		background-repeat: no-repeat;
		background-size: cover;
	}
		  
}