@font-face {
	font-family: "one-piece-font";
	src: url("../fonts/one-piece-font.ttf") format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'IBM Plex Serif', serif;*/
	font-family: "one-piece-font", sans-serif;
}

html {
	scroll-behavior: smooth;
}

/*full width: gets rid of horizontal scroll bar. Deletes the predefined padding of container fluid class*/
.full-width { 
	padding-left: 0; 
	padding-right: 0; 
}

.full-width .row { 
	margin-right: 0; 
	margin-left: 0; 
}

.full-width .col-md-12, 
.full-width .col-12 { 
	padding-left: 0; 
	padding-right: 0; 
}

.full-width .col-md-11, 
.full-width .col-11 { 
	padding-left: 0; 
	padding-right: 0; 
}



.title {
	background-image: url(../images/bg-sunny.jpg);
	background-position: 75% 75%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.title img{
	max-width: 80%;
	max-height: 80%;
	transition: 1s;
}


#my-nav {
	padding-right: 15px; 
	padding-left: 15px;
	font-size: 20px;
	background-color: #e8e4c9;
}

.coverer {
	z-index: -1;
	position: absolute;
	height: 100%;
	width: 100%;
	/*background-color: red;*/
	background-color: #494848;
	bottom: 0;
	transition: 4s;
}

#strawhats {
	height: 70vh;
	/*background-color: #494848;*/
	background-color: transparent;
	pointer-events: none;
}

.char-img {
	max-width: 100%;
	height: 99.9%;
	border: 2px solid #494848;
	pointer-events: auto;
	opacity: .3;
	filter: grayscale(100%);
	/*animation-name: flipInY;*/
}

.crew-pic-mobile {
	background-color: #494848;
}

.char-img:hover {
	filter: grayscale(0%);
	opacity: 1;
	transition: 1s;
/*	animation: flipInY 2s linear;*/
	/*border: 2px solid #f3f3f3;*/
}

#luf:hover ~ .coverer {
	background-image: url("../images/individual/luffy-bg.jpg");
	background-attachment: fixed;
	background-position: 80% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}
#zor:hover ~ .coverer {
	background-image: url("../images/individual/zoro-bg.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}
#nam:hover ~ .coverer{
	background-image: url("../images/individual/nami-bg.jpg");
	background-attachment: fixed;
	background-position: 80% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}

#bro:hover ~ .coverer {
	background-image: url("../images/individual/brook-bg.jpg");
	background-attachment: fixed;
	background-position: 30% 5%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}
#cho:hover ~ .coverer {
	background-image: url("../images/individual/chopper-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}

#fra:hover ~ .coverer {
	background-image: url("../images/individual/franky-bg.jpg");
	background-attachment: fixed;
	background-position: 72% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}

#san:hover ~ .coverer {
	background-image: url("../images/individual/sanji-bg.jpg");
	background-attachment: fixed;
	background-position: 10% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}

#uso:hover ~ .coverer {
	background-image: url("../images/individual/usopp-bg.jpg");
	background-attachment: fixed;
	background-position: 55% 0%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}

#rob:hover ~ .coverer {
	background-image: url("../images/individual/robin-bg.jpg");
	background-attachment: fixed;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
	transition: 4s;
}

.stampede-photo {
	max-width: 90%;
	max-height: 90%;
	padding: 3vh 3vh;
	-webkit-transition: max-height 2.5s;
	-webkit-transition: max-width 2.5s;
	/*mix-blend-mode: screen;*/
}

.stampede-photo:hover {
	max-width: 110%;
	max-height: 110%;
	-webkit-transition: max-height 2s;
	-webkit-transition: max-width 2s;
}



.mobile {
	display:none;
}

p img {
	filter: invert(100%);
}

.strawhats-row {
	background-image: url("../images/individual/strawhats-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.strawhats-text {
	color: white;
}

.luffy-row {
	background-image: url("../images/individual/luffy-bg.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.luffy-text {
	color: white;
}

.zoro-row {
	background-image: url("../images/individual/zoro-bg.png");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.zoro-text {
	color: white;
}

.nami-row {
	background-image: url("../images/individual/nami-bg.jpg");
	background-attachment: fixed;
	background-position: 80% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

.nami-text {
	color: white;
}

.sanji-row {
	background-image: url("../images/individual/sanji-bg.jpg");
	background-attachment: fixed;
	background-position: 10% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

.sanji-text {
	color: white;
}

.usopp-row {
	background-image: url("../images/individual/usopp-bg.jpg");
	background-attachment: fixed;
	background-position: 55% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

.usopp-text {
	color: white;
}

.chopper-row {
	background-image: url("../images/individual/chopper-bg.jpg");
	background-attachment: fixed;
	background-position: 80% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

.chopper-text {
	color: white;
}

.robin-row {
	background-image: url("../images/individual/robin-bg.jpg");
	background-attachment: fixed;
	background-position: 50% 30%;
	background-repeat: no-repeat;
	background-size: cover;
}

.robin-text {
	color: white;
}

.franky-row {
	background-image: url("../images/individual/franky-bg.jpg");
	background-attachment: fixed;
	background-position: 72% 30%;
	background-repeat: no-repeat;
	background-size: cover;
}

.franky-text {
	color: white;
}

.brook-row {
	background-image: url("../images/individual/brook-bg.jpg");
	background-attachment: fixed;
	background-position: 30% 5%;
	background-repeat: no-repeat;
	background-size: cover;
}

.brook-text {
	color: white;
}

h1 {
	font-size: 50px;
	mix-blend-mode: difference;
}

h1 ~ p {
	font-size: 24px;
	mix-blend-mode: difference;
}

.icon {
	width: 30px;
	height: 30px;
	display: inline-block;
	margin-bottom: 5px;
	margin-right: 10px;
}

.icon-link {
	color: inherit;
	text-decoration: inherit;
}

.icon-link:hover {
	color: #0000EE;
	text-decoration: none;
}

#footer {
	background-color: #e8e4c9;

}

#about-body {
	background-image: url("../images/gear4.png");
	background-attachment: fixed;
	background-position: 60% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

.meet-the-team {
	height: 95vh;
	padding-top: 5vh;
	
}



.meet-the-team h1 {
	font-family: 'IBM Plex Serif', serif;
	font-weight: bolder;
	mix-blend-mode: difference;
	font-size: 8em;
	transition: 1.5s;
}

.meet-the-team > .meet-text:hover{
	font-size: 1.3rem;
}

.fadeIn {
	-webkit-animation-duration: 3s;
	animation-duration: 3s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mission-text {
	background-color: #313639;
	opacity: .7;
	border-radius: 30px;
	transition: 2s;
}

.mission-text:hover {
	background-color: white;
	opacity: 1;
	color: #313639;
	border-radius: 0px;
}

/*override specificity of .mission h2 and .mission p*/
.mission-text:hover h2, .mission-text:hover p {
	color: #313639;
}

.vision-text {
	transition: 2s;
}

.vision-text:hover {
	background-color: #313639;
	color: white;
	border-radius: 30px;
}

.mission h2{
	font-family: 'IBM Plex Serif', serif;
	font-weight: bolder;
	color: #f2f2f2;
	font-size: 3em;
}

.mission p{
	font-family: 'IBM Plex Serif', serif;
	color: #f2f2f2;
	font-size: 1em;
}

.vision h2{
	font-family: 'IBM Plex Serif', serif;
	font-weight: bolder;
	font-size: 3em;
	
}

.vision p{
	font-family: 'IBM Plex Serif', serif;
	font-size: 1em;
}

.about-hide {
	display: none;

}

.about-show {
	display: visible;

}

.about-show img{
	height: inherit;
	width: inherit;
}

div > .btn-secondary {
	font-size: 1.3rem;
}


@media only screen and (min-width: 992px) {
  .nav-link {
  	font-size: 23px;
  }
  .dropdown-item {
  	font-size: 20px;
  }
  .navbar-brand {
  	font-size: 28px;
  }
} 

/*for tablet, ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
	.hover-img {
		display: none;
	}
	.tablet{
		display: block;
	}
	.tablet img {
		max-width: 100%;
	}

	.nav-link {
	  	font-size: 20px;
	}

	h1 {
		font-size: 40px;
		
	}

	h1 ~ p {
		font-size: 20px;
	}
	.meet-the-team h1 {
		font-weight: bolder;
		font-size: 6em;
		color: white; 
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}

	.vision-text {
		background-color: #313639;
		opacity: .7;
		border-radius: 30px;
	}

	.vision h2{
		font-weight: bolder;
		color: #f2f2f2;
		font-size: 2em;
	}

	.vision p{
		color: #f2f2f2;
		font-size: 1em;
	}

	#about-body {
		background-image: url("../images/gear4.png");
		background-attachment: fixed;
		background-position: 85% 0%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.stampede-photo:hover {
		max-width: 95%;
		max-height: 95%;
		-webkit-transition: max-height 2s;
		-webkit-transition: max-width 2s;
	}

}

/*for mobile*/
@media (min-width: 320px) and (max-width: 480px) {
	.mobile {
		display: block;
	}

	.mobile img {
		max-width: 100%;

	}
	.desktop {
		display:none;
	}

	.nav-link {
	  	font-size: 15px;
	}

	.hover-img {
		display: none;
	}

	h1 {
		font-size: 26px;
		
	}

	h1 ~ p {
		font-size: 15px;
		
	}
	.icon {
		width: 20px;
		height: 20px;
		display: inline-block;
		margin-bottom: 5px;
		margin-right: 10px;
	}

	.meet-the-team h1 {
		font-weight: bolder;
		font-size: 6em;
		color: white; 
		-webkit-text-stroke-width: 1px;
		-webkit-text-stroke-color: black;
	}


	.mission h2{
		font-weight: bolder;
		color: #f2f2f2;
		font-size: 2em;
	}

	.mission p{
		color: #f2f2f2;
		font-size: 1em;
	}

	.vision-text {
		background-color: #313639;
		opacity: .7;
		border-radius: 30px;
	}

	.vision h2{
		font-weight: bolder;
		color: #f2f2f2;
		font-size: 2em;
	}

	.vision p{
		color: #f2f2f2;
		font-size: 1em;
	}
	#about-body {
		background-image: url("../images/gear4.png");
		background-attachment: fixed;
		background-position: 80% 0%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.stampede-photo:hover {
		max-width: 95%;
		max-height: 95%;
		-webkit-transition: max-height 2s;
		-webkit-transition: max-width 2s;
	}
		  
}