@font-face {
	font-family: "one-piece-font";
	src: url("../fonts/one-piece-font.ttf") format('truetype');
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'IBM Plex Serif', serif;*/
	font-family: "one-piece-font", sans-serif;
}

/*full width: gets rid of horizontal scroll bar. Deletes the predefined padding of container fluid class*/
.full-width { 
	padding-left: 0; 
	padding-right: 0; 
}

.full-width .row { 
	margin-right: 0; 
	margin-left: 0; 
}

.full-width .col-md-12 { 
	padding-left: 0; 
	padding-right: 0; 
}


img{
	max-width: 100%;
	max-height: 100%;
}

h2 {
	color: #DDE3BF;
}

small {
	display: block;
	text-transform: uppercase;
	font-weight: 600;
}

.btn {
	font-size: 35px;
	transform: skew(-20deg);
	font-family: "one-piece-font", sans-serif;
	color: #DDE3BF;

}

#con {
	height: 100vh;
	background-image: url(../images/cover.jpg);
	background-position: 15% 0%;
	background-repeat: no-repeat;
	background-size: cover;
}

/*[class*="col"] {
	border: 1px solid black;
	background-color: skyblue;
}*/

#spacer {
	height: 6%;
}

.opacity {
	background-color: rgba(27,38,59, 0.7);

}

.corner-top {
	border-top-left-radius: 30px;
}

.corner-bottom {
	border-bottom-left-radius: 30px;
}




/*for tablet, ipad*/
@media (min-width: 768px) and (max-width: 1024px) {
  	h1 {
		font-size: 80px;
	}

	h2 {
		font-size: 24px;
	}

	.btn {
		font-size: 16px;
		transform: skew(-20deg);
	}
   	#con {
		height: 100vh;
		background-image: url(../images/ipad-bg.jpeg);
		background-position: 35% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.btn {
		font-size: 30px;
		transform: skew(-20deg);
	}
	.corner-top {
		border-top-left-radius: 30px;
	}

	.corner-bottom {
		border-bottom-left-radius: 30px;
	}

	.opacity {
		background-color: rgba(27,38,59, 0.7);
	}
}

/*for mobile*/
@media (min-width: 320px) and (max-width: 480px) {
  	#spacer {
		height: 15%;
	}
  	h1 {
		font-size: 70px;
	}

	h2 {
		font-size: 22px;
	}
	#con {
		height: 100vh;
		background-image: url(../images/mobile-bg.png);
		background-position: 24% 50%;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.btn {
		font-size: 25px;
		transform: skew(-20deg);
	}
	.corner-top {
		border-top-left-radius: 0;
	}

	.corner-bottom {
		border-bottom-left-radius: 0;
	}

	.opacity {
		background-color: rgba(27,38,59, 0.7);
	}
  
}

.animated {
  -webkit-animation-duration: .8s;
  animation-duration: .8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}